.header {
  position: sticky;
  z-index: 100;
  top: 0;

  height: 80px;

  background-color: var(--color-header);
}

@supports (backdrop-filter: blur(0)) {
  .header {
    background-color: var(--color-header--transparent);

    backdrop-filter: blur(30px);
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 15px 20px;
}

.header__avito-btn {
  height: 100%;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
}

.header__avito-icon {
  width: 157px;
  height: 100%;
}

.header__favorites {
  font-size: 18px;

  display: flex;
  align-items: center;

  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
}

.header__heart-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  opacity: 0.5;

  fill: currentColor;
}

.header__heart-icon--active {
  fill: var(--color-red);
}
