*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Play", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font: inherit;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}
